################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Momo.Tokens/v15
/Momo.Tokens/obj
