################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Momo.Tokens/v15
/Momo.Tokens/obj
/.vs/Momo.Tokens/DesignTimeBuild
/Momo.Tokens/bin/Debug/netstandard2.0
